*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    background-color: aqua;
    text-emphasis-style: 44px;
}

nav{
    text-decoration: overline;
}


.container h2{
    justify-content: left;
    display: flex;
}

ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    gap: 1rem;
    display: grid table-column;
    
}

button{
    color: transparent;
    color: black;
    border: aqua;
}